@model RegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Otel - Kayıt Ol</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="h-100">

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="/Register/Index/"> <h4>Otel - Kayıt Paneli</h4></a>
                                <form class="mt-5 mb-5 login-input" method="post">
                                    <br />
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Ad">
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                    <br />
                                    <input type="text" asp-for="Surname" class="form-control" placeholder="Soyad">
                                    <span class="text-danger" asp-validation-for="Surname"></span>
                                    <br />
                                    <input type="text" asp-for="Username" class="form-control" placeholder="Kullanıcı Adı">
                                    <span class="text-danger" asp-validation-for="Username"></span>
                                    <br />
                                    <input type="email" asp-for="Mail" class="form-control" placeholder="Mail">
                                    <span class="text-danger" asp-validation-for="Mail"></span>
                                    <br />
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Şifre">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                    <br />
                                    <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Şifre Yeniden">
                                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                                    <br />
                                    <button class="btn login-form__btn submit w-100">Kayıt Ol</button>
                                </form>
                                <a href="/Login/Index/" class="text-primary">Zaten bir hesabınız var mı ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>
</body>
</html>






