<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menü</li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Ana Sayfa</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/AdminBooking/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-question menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="icon-user-following menu-icon"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/AdminServices/Index/" aria-expanded="false">
                    <i class="icon-list menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">İletişim</span>
                </a>
            </li>
            <li>
                <a href="/AdminTestimonials/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/AdminMessageCategory/Index/" aria-expanded="false">
                    <i class="icon-speech menu-icon"></i><span class="nav-text">Mesaj Kategorileri</span>
                </a>
            </li>
            <li>
                <a href="/Role/Index/" aria-expanded="false">
                    <i class="icon-tag menu-icon"></i><span class="nav-text">Rol Listesi</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssign/Index/" aria-expanded="false">
                    <i class="icon-wrench menu-icon"></i><span class="nav-text">Rol Ataması</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="icon-folder-alt menu-icon"></i><span class="nav-text">Dosya İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminDbUser/Index/" aria-expanded="false">
                    <i class="icon-briefcase menu-icon"></i><span class="nav-text">Üye Olan Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Profil Düzenle</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-paper-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Login/Logout/" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>
