@model UpdateAboutDto
@{
    ViewData["Title"] = "EditAbout";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
            <li class="breadcrumb-item active"><a href="#">Hakkımızda Düzenleme Paneli</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hakkımızda Alanı Düzenleme Paneli</h4>
                    <div class="basic-form">
                        <form method="post">
                            <input type="hidden" asp-for="Id" />
                            <br />
                            <label>Başlık 1</label>
                            <input type="text" asp-for="Title1" class="form-control">
                            <span asp-validation-for="Title1" class="text-danger"></span>
                            <br />
                            <label>Başlık 2</label>
                            <input type="text" asp-for="Title2" class="form-control">
                            <span asp-validation-for="Title2" class="text-danger"></span>
                            <br />
                            <label>Oda Sayısı</label>
                            <input type="number" asp-for="RoomCount" class="form-control">
                            <span asp-validation-for="RoomCount" class="text-danger"></span>
                            <br />
                            <label>Personel Sayısı</label>
                            <input type="number" asp-for="StaffCount" class="form-control">
                            <span asp-validation-for="StaffCount" class="text-danger"></span>
                            <br />
                            <label>Müşteri Sayısı</label>
                            <input type="number" asp-for="CustomerCount" class="form-control">
                            <span asp-validation-for="CustomerCount" class="text-danger"></span>
                            <br />
                            <label>Detaylar</label>
                            <textarea type="text" asp-for="Description" class="form-control" style="height: 100px"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <br />
                            <button type="submit" class="btn btn-outline-info">Güncelle</button>
                            <a class="btn btn-outline-dark" href="/AdminAbout/Index/">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



