@model CreateContactDto
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Bize Ulaşın</h6>
            <h1 class="mb-5"><span class="text-primary text-uppercase">Soru ve Görüşleriniz için</span> Bize Ulaşabilirsiniz</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">Rezervasyon Soruları</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i>rezervasyon@otelier.com</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">Bilgi Almak</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i>info@otelier.com</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">İş Başvuruları</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i>ik@otelier.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3013.1960833838193!2d29.179612075564144!3d40.95528309064171!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac59f6eed05c5%3A0x5aa266a82889a59a!2sMarma%20Hotel%20Istanbul%20Asia!5e0!3m2!1str!2str!4v1707305750870!5m2!1str!2str"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method="post" asp-action="SendMessage" asp-controller="Contact">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Adınız Soyadınız">
                                    <label for="name">Adınız Soyadınız</label>
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" asp-for="Mail" placeholder="Mail Adresi">
                                    <label for="email">Mail</label>
                                    <span class="text-danger" asp-validation-for="Mail"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" asp-for="Subject" placeholder="Konu">
                                    <label for="subject">Konu</label>
                                    <span class="text-danger" asp-validation-for="Subject"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Mesajınızı Yazınız." asp-for="Message" style="height: 150px"></textarea>
                                    <label for="message">Mesajınız</label>
                                    <span class="text-danger" asp-validation-for="Message"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Mesaj Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>