@model UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
            <li class="breadcrumb-item active"><a href="#">Rezervasyon Düzenleme Paneli</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rezervasyon Düzenleme</h4>
                    <div class="basic-form">
                        <form method="post">
                            <input type="hidden" asp-for="Id" />
                            <br />
                            <label>Adı Soyadı</label>
                            <input type="text" asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <br />
                            <label>Mail</label>
                            <input type="text" asp-for="Mail" class="form-control">
                            <span asp-validation-for="Mail" class="text-danger"></span>
                            <br />
                            <label>Giriş Tarihi</label>
                            <input type="date" class="form-control" asp-for="CheckIn" placeholder="Giriş Tarihi" data-target="#date3" data-toggle="datetimepicker" />
                            <span asp-validation-for="CheckIn" class="text-danger"></span>
                            <br />
                            <label>Çıkış Tarihi</label>
                            <input type="date" class="form-control" asp-for="CheckOut" placeholder="Giriş Tarihi" data-target="#date3" data-toggle="datetimepicker" />
                            <span asp-validation-for="CheckOut" class="text-danger"></span>
                            <br />
                            <label>Yetişkin Sayısı</label>
                            <select class="form-control" asp-for="AdultCount">
                                <option value="1">1 Yetişkin</option>
                                <option value="2">2 Yetişkin</option>
                                <option value="3">3 Yetişkin</option>
                                <option value="4">4 Yetişkin</option>
                            </select>
                            <span asp-validation-for="AdultCount" class="text-danger"></span>
                            <br />
                            <label>Çocuk Sayısı</label>
                            <select class="form-control" asp-for="ChildCount">
                                <option value="1">1 Çocuk</option>
                                <option value="2">2 Çocuk</option>
                                <option value="3">3 Çocuk</option>
                                <option value="4">4 Çocuk</option>
                            </select>
                            <span asp-validation-for="ChildCount" class="text-danger"></span>
                            <br />
                            <label>Oda Sayısı</label>
                            <select class="form-control" asp-for="RoomCount">
                                <option value="1">1 Oda</option>
                                <option value="2">2 Oda</option>
                                <option value="3">3 Oda</option>
                            </select>
                            <span asp-validation-for="RoomCount" class="text-danger"></span>
                            <br />
                            <label>Özel İstekler</label>
                            <textarea type="text" asp-for="SpecialRequest" class="form-control" style="height: 100px"></textarea>
                            <span asp-validation-for="SpecialRequest" class="text-danger"></span>
                            <br />
                            <label>Açıklama</label>
                            <textarea type="text" asp-for="Description" class="form-control" style="height: 100px"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <br />
                            <button type="submit" class="btn btn-outline-info">Güncelle</button>
                            <a class="btn btn-outline-dark" href="/AdminBooking/Index/">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





