@model CreateTestimonialDto

@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
            <li class="breadcrumb-item active"><a href="#">Referans Ekleme Paneli</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Referans Ekleme Paneli</h4>
                    <div class="basic-form">
                        <form method="post">
                            <br />
                            <label>Adı Soyadı</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Adı Soyadı">
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <br />
                            <label>Ünvanı</label>
                            <input type="text" asp-for="Title" class="form-control" placeholder="Ünvanı">
                            <span asp-validation-for="Title" class="text-danger"></span>
                            <br />
                            <label>Görsel Url</label>
                            <input type="text" asp-for="Image" class="form-control" placeholder="Görsel Url">
                            <span asp-validation-for="Image" class="text-danger"></span>
                            <br />
                            <label>Yorumu</label>
                            <textarea type="text" asp-for="Description" class="form-control" style="height: 100px" placeholder="Yorum Alanı"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <br />
                            <button type="submit" class="btn btn-outline-info">Ekle</button>
                            <a class="btn btn-outline-dark" href="/AdminTestimonials/Index/">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

